h1 {
	font-family: Sans-serif, serif;
	color: hotpink;
}

html {
	background-color: rgba(255, 99, 71, 0.5);
}

.titlepage {
	background-image:
		url("https://img.buzzfeed.com/buzzfeed-static/static/2014-12/3/4/enhanced/webdr06/anigif_enhanced-418-1417598434-21.gif");
	background-attachment: local;
}

.container {
	align-items: center;
	height: 75vh;
	text-align: center;
}

section {
	height: 35vh;
	text-align: center;
}

p {
	font-style: oblique;
	color: black;
	font-size: 90%;
	margin: 15px 0;
	padding: 10px;
	-webkit-justify-content: space-around;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

footer {
	position: fixed;
	padding: 10px;
	font-size: 200%;
}

header {
	text-align: center;
}

header h1 {
	background-color: hsl(0, 100%, 90%);
}

img {
	height: 30vh;
	width: 20vw;
	margin: auto;
}

body a:visited {
	color: hotpink;
}

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rating>span {
	display: inline-block;
	position: relative;
	width: 1.1em;
}

.rating>span:hover:before, .rating>span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}